name: Ruff

on:
  pull_request:
    paths:
      - "**/*.py"
      - "**/*.ipynb"
  push:
    paths:
      - "**/*.md"
      - "**/*.ipynb"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ruff
      - name: Run Ruff
        run: ruff check --output-format=github .

      - name: Run Ruff Format Check
        run: run ruff format --check .
